@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Ubuntu:wght@500;700&display=swap');

:root {

    --scissors-shadow-color: hsl(39, 93%, 41%);
    --scissors-border-color: hsl(40, 84%, 53%);
    --paper-shadow-color: hsl(230, 57%, 45%);
    --paper-border-color: hsl(230, 89%, 65%);
    --rock-shadow-color: hsl(349, 97%, 36%);
    --rock-border-color: hsl(349, 70%, 56%);
    --lizard-shadow-color: hsl(261, 73%, 60%);
    --lizard-border-color: hsl(261, 72%, 63%);
    --spock-shadow-color: hsl(190, 100%, 41%);
    --spock-border-color: hsl(189, 58%, 57%);

    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);

    --radial-gradient-from: hsl(214, 47%, 23%);
    --radial-gradient-to: hsl(237, 49%, 15%);
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Barlow Semi Condensed', sans-serif;

    min-height: 100vh;
}
